<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>[冷汗]</key>
		<string>f001</string>
	</dict>
	<dict>
		<key>[奸笑]</key>
		<string>f002</string>
	</dict>
	<dict>
		<key>[难过]</key>
		<string>f003</string>
	</dict>
	<dict>
		<key>[露牙]</key>
		<string>f004</string>
	</dict>
	<dict>
		<key>[小样]</key>
		<string>f005</string>
	</dict>
	<dict>
		<key>[折磨]</key>
		<string>f006</string>
	</dict>
	<dict>
		<key>[囧]</key>
		<string>f007</string>
	</dict>
	<dict>
		<key>[酣睡]</key>
		<string>f008</string>
	</dict>
	<dict>
		<key>[调皮]</key>
		<string>f009</string>
	</dict>
	<dict>
		<key>[微笑]</key>
		<string>f010</string>
	</dict>
	<dict>
		<key>[惊讶]</key>
		<string>f011</string>
	</dict>
	<dict>
		<key>[闭嘴]</key>
		<string>f012</string>
	</dict>
	<dict>
		<key>[晕]</key>
		<string>f013</string>
	</dict>
	<dict>
		<key>[不屑]</key>
		<string>f014</string>
	</dict>
	<dict>
		<key>[尴尬]</key>
		<string>f015</string>
	</dict>
	<dict>
		<key>[大吼]</key>
		<string>f016</string>
	</dict>
	<dict>
		<key>[大哭]</key>
		<string>f017</string>
	</dict>
	<dict>
		<key>[激动]</key>
		<string>f018</string>
	</dict>
	<dict>
		<key>[擦汗]</key>
		<string>f019</string>
	</dict>
	<dict>
		<key>[害羞]</key>
		<string>f020</string>
	</dict>
	<dict>
		<key>[憨笑]</key>
		<string>f021</string>
	</dict>
	<dict>
		<key>[发怒]</key>
		<string>f022</string>
	</dict>
	<dict>
		<key>[亲亲]</key>
		<string>f023</string>
	</dict>
	<dict>
		<key>[飞吻]</key>
		<string>f024</string>
	</dict>
	<dict>
		<key>[可爱]</key>
		<string>f025</string>
	</dict>
	<dict>
		<key>[开心]</key>
		<string>f026</string>
	</dict>
	<dict>
		<key>[爱心]</key>
		<string>f027</string>
	</dict>
	<dict>
		<key>[心碎]</key>
		<string>f028</string>
	</dict>
	<dict>
		<key>[星心]</key>
		<string>f029</string>
	</dict>
	<dict>
		<key>[桃心]</key>
		<string>f030</string>
	</dict>
	<dict>
		<key>[蓝心]</key>
		<string>f031</string>
	</dict>
	<dict>
		<key>[绿心]</key>
		<string>f032</string>
	</dict>
	<dict>
		<key>[黄心]</key>
		<string>f033</string>
	</dict>
	<dict>
		<key>[紫心]</key>
		<string>f034</string>
	</dict>
	<dict>
		<key>[星星]</key>
		<string>f035</string>
	</dict>
	<dict>
		<key>[月亮]</key>
		<string>f036</string>
	</dict>
	<dict>
		<key>[太阳]</key>
		<string>f037</string>
	</dict>
	<dict>
		<key>[恶魔]</key>
		<string>f038</string>
	</dict>
	<dict>
		<key>[可爱水母]</key>
		<string>f039</string>
	</dict>
	<dict>
		<key>[虎]</key>
		<string>f040</string>
	</dict>
	<dict>
		<key>[熊]</key>
		<string>f041</string>
	</dict>
	<dict>
		<key>[狗]</key>
		<string>f042</string>
	</dict>
	<dict>
		<key>[鼠]</key>
		<string>f043</string>
	</dict>
	<dict>
		<key>[鸟]</key>
		<string>f044</string>
	</dict>
	<dict>
		<key>[蓝鲸]</key>
		<string>f045</string>
	</dict>
	<dict>
		<key>[鱼]</key>
		<string>f046</string>
	</dict>
	<dict>
		<key>[马]</key>
		<string>f047</string>
	</dict>
	<dict>
		<key>[看看]</key>
		<string>f048</string>
	</dict>
	<dict>
		<key>[便便]</key>
		<string>f049</string>
	</dict>
	<dict>
		<key>[滑翔]</key>
		<string>f050</string>
	</dict>
	<dict>
		<key>[牵手]</key>
		<string>f051</string>
	</dict>
	<dict>
		<key>[跳舞]</key>
		<string>f052</string>
	</dict>
	<dict>
		<key>[游泳]</key>
		<string>f053</string>
	</dict>
	<dict>
		<key>[圣诞老人]</key>
		<string>f054</string>
	</dict>
	<dict>
		<key>[拳头]</key>
		<string>f055</string>
	</dict>
	<dict>
		<key>[强]</key>
		<string>f056</string>
	</dict>
	<dict>
		<key>[拍手]</key>
		<string>f057</string>
	</dict>
	<dict>
		<key>[OK]</key>
		<string>f058</string>
	</dict>
	<dict>
		<key>[弱]</key>
		<string>f059</string>
	</dict>
	<dict>
		<key>[手掌]</key>
		<string>f060</string>
	</dict>
	<dict>
		<key>[金奖]</key>
		<string>f061</string>
	</dict>
	<dict>
		<key>[银奖]</key>
		<string>f062</string>
	</dict>
	<dict>
		<key>[铜奖]</key>
		<string>f063</string>
	</dict>
	<dict>
		<key>[红苹果]</key>
		<string>f064</string>
	</dict>
	<dict>
		<key>[橘子]</key>
		<string>f065</string>
	</dict>
	<dict>
		<key>[草莓]</key>
		<string>f066</string>
	</dict>
	<dict>
		<key>[西瓜]</key>
		<string>f067</string>
	</dict>
	<dict>
		<key>[西红柿]</key>
		<string>f068</string>
	</dict>
	<dict>
		<key>[蛋糕]</key>
		<string>f069</string>
	</dict>
	<dict>
		<key>[汉堡]</key>
		<string>f070</string>
	</dict>
	<dict>
		<key>[薯条]</key>
		<string>f071</string>
	</dict>
	<dict>
		<key>[冰淇淋]</key>
		<string>f072</string>
	</dict>
	<dict>
		<key>[冰糖葫芦]</key>
		<string>f073</string>
	</dict>
	<dict>
		<key>[礼物]</key>
		<string>f074</string>
	</dict>
	<dict>
		<key>[热狗]</key>
		<string>f075</string>
	</dict>
	<dict>
		<key>[足球]</key>
		<string>f076</string>
	</dict>
	<dict>
		<key>[篮球]</key>
		<string>f077</string>
	</dict>
	<dict>
		<key>[下雨]</key>
		<string>f078</string>
	</dict>
	<dict>
		<key>[雨伞]</key>
		<string>f079</string>
	</dict>
	<dict>
		<key>[USB花]</key>
		<string>f080</string>
	</dict>
	<dict>
		<key>[向日葵模型]</key>
		<string>f081</string>
	</dict>
	<dict>
		<key>[太阳花]</key>
		<string>f082</string>
	</dict>
	<dict>
		<key>[向日葵]</key>
		<string>f083</string>
	</dict>
	<dict>
		<key>[花]</key>
		<string>f084</string>
	</dict>
	<dict>
		<key>[圣诞树]</key>
		<string>f085</string>
	</dict>
	<dict>
		<key>[轿车]</key>
		<string>f086</string>
	</dict>
	<dict>
		<key>[皇冠]</key>
		<string>f087</string>
	</dict>
	<dict>
		<key>[火箭]</key>
		<string>f088</string>
	</dict>
	<dict>
		<key>[放大镜]</key>
		<string>f089</string>
	</dict>
	<dict>
		<key>[铃声]</key>
		<string>f090</string>
	</dict>
	<dict>
		<key>[音乐]</key>
		<string>f091</string>
	</dict>
	<dict>
		<key>[红领巾]</key>
		<string>f092</string>
	</dict>
</array>
</plist>
